//////////////////////////////////////////////////
// Please follow these recomendations
// https://github.com/mdo/code-guide#css
//////////////////////////////////////////////////





// UTILITIES
// --------------------

// Typography
// --------------------
.small { font-size: @fontSizeMini; }


// STYLE
// --------------------

// Jumbotron
// --------------------
 .jumbotron {
  margin-top: 10px;
  // on desktop
  @media (min-width: 768px) {
      
      .hero-unit;
  }
  // on mobile
  @media (max-width: 767px) {
    .well;
  }
}

// Links interaction depending

a[href ^="mailto:"] {
  @media (max-width: 767px) {
    .btn;
    .btn-primary;
  }
}


// Footer
// --------------------
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  border-top: 1px solid @grayLight;
  background-color: @grayLighter;
}