//////////////////////////////////////////////////
// Please follow these recomendations
// https://github.com/mdo/code-guide#css
//////////////////////////////////////////////////


body {
  padding-top: 70px;
}

@media (max-width: @screen-tablet) {
  .vcard {
    .tel,
    .email {
      .btn;
      .btn-primary;
      .btn-block;
      margin-bottom: -1em;
    }
  }
}

/*

// UTILITIES
// --------------------

// Typography
// --------------------
.small { font-size: @font-size-small; }

.no-body-padding-on-mobile {
  @media (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}


// STYLE
// --------------------

// Jumbotron
// --------------------
 .jumbotron {
  
  margin-top: 0;
  margin-bottom: 1.5em;
  .no-body-padding-on-mobile;
  
  color: @body-bg;
  background-color: @link-color;
  border-bottom: 1px solid @gray;
  
  div {
    .container;
  }

  // on desktop
  @media (min-width: 768px) {
      padding-top: 2em;
      padding-bottom: 2em;

      h1 {
        font-size: 60px;
        line-height: 1;
        color: inherit;
        letter-spacing: -1px;
      }
  }
  // on mobile
  @media (max-width: 767px) {
    padding-top: 1em;
    padding-bottom: 1em;
  }

}

// Links interaction depending

.btn-block-mobile {
  @media (max-width: 767px) {
    .btn;
    .btn-large;
    .btn-primary;
    .btn-block;
  }
}

// address style
address {
  .well;
}

// Images
// --------------------
// Images in thumbnails fit the width even if they are smaller
.thumbnails img { width: 100%; }

// Footer
// --------------------
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  border-top: 1px solid @gray-light;
  background-color: @gray-lighter;
  
  .no-body-padding-on-mobile;
}
*/